src/gtkhash
src/gtkhash-test
src/resources.c
src/resources.h
src/nautilus/properties-resources.c
src/nautilus/properties-resources.h

data/appdata/*.xml
data/appdata/*.xml.in
data/caja/libgtkhash-properties-caja.caja-extension
data/caja/libgtkhash-properties-caja.caja-extension.in

data/icons/32/
data/icons/48/
data/icons/64/
data/icons/128/
data/icons/256/

po/*.header
po/*.sed
po/*.sin
po/*.template
po/POTFILES
po/Rules-quot
po/stamp-po

.deps/
.libs/
autom4te.cache/
build-aux/
intl/
m4/

.dirstamp
ABOUT-NLS
INSTALL
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1
stamp-it
test.md5sum

*~
*.bytes
*.desktop
*.gcda
*.gcno
*.gmo
*.gz
*.la
*.lo
*.log
*.o
*.trs
*.valid
*.xz
