src/gtkhash
src/gtkhash-test
src/resources.c
src/resources.h
src/nautilus/properties-resources.c
src/nautilus/properties-resources.h

data/caja/libgtkhash-properties-caja.caja-extension
data/caja/libgtkhash-properties-caja.caja-extension.in
data/peony/libgtkhash-properties-peony.peony-extension
data/peony/libgtkhash-properties-peony.peony-extension.in

data/icons/32/
data/icons/48/
data/icons/64/
data/icons/128/
data/icons/256/

.deps/
.libs/
autom4te.cache/
build-aux/
m4/

.dirstamp
.intltool-merge-cache
INSTALL
Makefile
Makefile.in
Makefile.in.in
POTFILES
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1
stamp-it

*~
*.appdata.xml
*.desktop
*.gmo
*.gz
*.la
*.lo
*.log
*.metainfo.xml
*.o
*.trs
*.valid
*.xz
