gtkhash

src/resources.c
src/resources.h
src/nautilus/properties-resources.c
src/nautilus/properties-resources.h

.deps/
.libs/
autom4te.cache/
build-aux/
m4/

.dirstamp
.intltool-merge-cache
INSTALL
Makefile
Makefile.in
Makefile.in.in
POTFILES
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1
stamp-it

*~
*.desktop
*.gmo
*.gz
*.la
*.lo
*.o
*.valid
*.xz
